/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --primary-color: #2c5c88;
    --secondary-color: #f6b48e;
    --third-color: #6fa8dc;

    --hover-color: #ef732b;
    --text-color: #4a4a4a;
    --bg-color-1: #f4ede4;
    --bg-color-2: #fff5ee;
    --white-color: #ffffff;

    --font-family: 'Nunito Sans', sans-serif;
    --font-size: 16px;
    --line-height: 1.5;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--text-color);
    background-color: var(--white-color);
}
h1,
h2,
h3 {
    color: var(--primary-color);
}
